nav {
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: inline-flex;
    justify-content: space-between;
}
.nav__link{
    font-weight: 400;
    color: #fff ;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}
.nav__link__actived, .nav__link:hover{
    opacity: 1;
}
.scrolled__nav {
  padding: 0px 0;
  background-color: #121212;
}
.social__icon {
    display: inline-block;
    margin-left: 14px;
}
.social__icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social__icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social__icon a:hover::before {
    transform: scale(1);
}
.social__icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social__icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.nav__logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__logo__container > img{
	width: 40%;
}
.nav__links__container__mobile{
    display: none;
}
.menu__icon{
    width: 40%;
    filter: invert(99%) sepia(99%) saturate(35%) hue-rotate(55deg) brightness(107%) contrast(100%);
}
.menu__icon:hover{
    filter: invert(85%) sepia(2%) saturate(26%) hue-rotate(356deg) brightness(86%) contrast(84%);
}
.drop__down__nav, .drop__down__nav__active{
    display: none;
}

@media only screen and (max-width: 750px) {
    .nav__links__container{
        display: none;
    }
    .nav__links__container__mobile{
        display: inline-flex;
        justify-content: center;
        width: 10%;
    }
    .drop__down__nav__active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        width: 100%;
        position: fixed;
        top: 40px;
        z-index: 9999;
        align-items: center;
        gap: 10px;
    }
    .swing-in-top-fwd {
        -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    }

@-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
}
